<div class="page">
  <div class="game">
    <!-- construction du visuel du jeu -->
    <span *ngFor='let h of values'>
      <span *ngFor='let w of values'>
        <input id={{h}}-{{w}} class="case" type="number" min="1" max="9">
        <span *ngIf="w === 3 || w === 6" class="column-separator"></span>
      </span>
      <br />
      <div *ngIf="h === 3 || h === 6" class="line-separator"></div>
    </span>
  </div>

  <div class="div-button">
    <button class="button-solve" (click)="solve()"><span>Solutionner</span></button>
  </div>

</div>