<div class="page">

  <div class="game">
    <!-- construction du visuel du jeu -->
    <span *ngFor='let h of values'>
      <span *ngFor='let w of values'>
        <input id={{h}}-{{w}} (keypress)="validateInput(h, w, $event)" class="input-empty" type="number" maxlength="1" min="1" max="9">
        <span *ngIf="w === 3 || w === 6" class="column-separator"></span>
      </span>
      <br />
      <div *ngIf="h === 3 || h === 6" class="line-separator"></div>
    </span>
  </div>

  <div class="div-button">
    <button class="button-solve" (click)="solve()"><span>Solutionner</span></button>
  </div>

  <button (click)="backUserInputs()"><span>Retour aux inputs user</span></button>

  <button (click)="reinitialization()"><span>Réinitialiser</span></button>

  <div *ngIf="processing === true">
    <h1>Processing</h1>
  </div>

</div>